{% extends 'base.html' %}

{% block body %}
    <div class="container mt-3">
        <h1 style="color:orange">Comunidade Impressionadora - Hastag Treinamentos</h1>
        <hr>
        {% for post in posts %}
            <div class="row border mt-4 p-4", style="background:#f2f5f8; overflow-wrap: break-word;">
                <div class="col col-3">
                    <div class="flex-shrink-0">
                        <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}"
                        alt="Generic placeholder image" class="img-fluid"
                        style="width: 210px; border-radius: 10px; pt-3">
                        <div class="mt-2">
                            <strong>{{ post.autor.username }}</strong>
                        </div>
                        <div class="row justify-content-center">
                              {% if 'Impressionador' in current_user.cursos %}
                                {% for curso in current_user.cursos.split(';') %}
                                   <button type="button" class="btn btn-success mt-2" disabled>{{ curso }}</button>
                                {% endfor %}
                              {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col col-9 flex-shrink-0">
                    <a style="text-decoration: none; color: #4B4CFA" href="{{ url_for('exibir_post', post_id = post.id) }}"><h3>{{ post.titulo }}</h3></a>
                    <p class="text-align:justify; text-indent: 30px;">{{ post.corpo }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
