{% extends 'base.html' %}

{% block body %}

<section>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col col-md-9 col-lg-7 col-xl-5">
        <div style="border-radius: 15px;">
          <div class="card-body p-4">
            <div class="d-flex text-black">
              <div class="flex-shrink-0">
                <img src="{{ foto_perfil }}"
                  alt="Generic placeholder image" class="img-fluid"
                  style="width: 210px; border-radius: 10px; pt-3">
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="mb-1">{{ current_user.username }}</h5>
                <p class="mb-2 pb-1" style="color: #2b2a2a;">{{ current_user.email }}</p>
                <div class="d-flex justify-content-start rounded-3 p-2 mb-2", style="background: #f2f5f8;">
                  <div>
                    <p class="small text-muted mb-1">Cursos</p>
                    {% if 'Impressionador' in current_user.cursos %}
                       <p class="mb-0">{{ current_user.cursos.count(';') + 1 }}</p>
                    {% else %}
                       <p class="mb-0">0</p>
                    {% endif %}
                  </div>
                  <div class="ms-auto">
                    <p class="small text-muted mb-1">Posts</p>
                    <p class="mb-0">{{ current_user.contar_posts() }}</p>
                  </div>
                </div>
                <div class="d-flex pt-1">
                  <a class="w-100" href="{{ url_for('editar_perfil') }}">
                    <button type="button" class="btn btn-outline-primary me-1 flex-grow-1 w-100">Editar Perfil</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="row justify-content-center">
  <div class="col col-6" style="text-align: center">
      {% if 'Impressionador' in current_user.cursos %}
        <h1>Cursos</h1><br>
        {% for curso in current_user.cursos.split(';') %}
           <button type="button" class="btn btn-success mt-2" disabled>{{ curso }}</button>
        {% endfor %}
      {% endif %}
  </div>
</div>

{% block form_editar_perfil %}
{% endblock %}
{% endblock %}