{% extends 'base.html' %}

{% block body %}
    <div class="container mt-3">
            <div class="row border mt-4 p-4", style="background:#f2f5f8; overflow-wrap: break-word;">
                <div class="col col-3">
                    <div class="flex-shrink-0">
                        <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}"
                        alt="Generic placeholder image" class="img-fluid"
                        style="width: 210px; border-radius: 10px; pt-3">
                        <div class="mt-2">
                            <strong>{{ post.autor.username }}</strong>
                        </div>
                        <div class="row justify-content-center">
                              {% if 'Impressionador' in current_user.cursos %}
                                {% for curso in current_user.cursos.split(';') %}
                                   <button type="button" class="btn btn-success mt-2" disabled>{{ curso }}</button>
                                {% endfor %}
                              {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col col-9 flex-shrink-0">
                    <h3>{{ post.titulo }}
                        <small class="text-muted" style="font-size: 15px;"> - Data da Postagem: {{ post.data_criacao.strftime('%d/%m/%Y') }}
                        {% if form %}
                            - <a href="#form_editarpost">Editar Post</a>  / <a href="#" data-bs-toggle="modal" data-bs-target="#confirmacao_exclusaopost" style="color: red;">Excluir Post</a>
                        {% endif %}
                        </small>
                    </h3>
                    <p class="text-align:justify; text-indent: 30px;">{{ post.corpo }}</p>
                </div>
            </div>
    </div>
{% if form %}
<div class="container">
    <form method="post", action="" class="border mt-5 px-5 py-3" id="form_editarpost">
        {{ form.csrf_token }}
        <legend>Editar Post</legend>
        <fieldset>
             <div class="form-group">
                {{ form.titulo.label(class="form-control-label") }}
                {% if form.titulo.errors %}
                    {{ form.titulo(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for erro in form.titulo.errors %}
                            {{ erro }}
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.titulo(class="form-control") }}
                {% endif %}
            </div>
             <div class="form-group">
                {{ form.corpo.label(class="form-control-label") }}
                {% if form.corpo.errors %}
                    {{ form.corpo(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for erro in form.corpo.errors %}
                            {{ erro }}
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.corpo(class="form-control") }}
                {% endif %}
            </div>
        </fieldset>
        {{ form.submit(class='btn btn-primary mt-2') }}
    </form>
</div>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="confirmacao_exclusaopost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir Post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Você realmente quer excluir esse post? Essa ação não poderá ser desfeita
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
          <form method="post", action="{{ url_for('excluir_post', post_id = post.id) }}">
              <button type="submit" class="btn btn-danger">Excluir Post</button>
          </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}
